<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DA Tracker</title>
    <link rel ="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar">
        <p class="main-font" id="nav-title">DegreeApprenticeshipTracker</p>
        <div class="nav-counter">
            <p class="main-font" id="applied-counter"></p>
            <button type="button" class="minus-plus" id="plus-button">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </button>
            <button type="button" class="minus-plus" id="minus-button">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
            </button>
            <p style="margin-left: 8px;" class="main-font">Hopefully not alot</p>
        </div>
        <div id="jobs-div">
            <form id="job-form">
                <input id="job-search" placeholder="Search for a job">
            </form>
            <button class="main-font" id="submit-job">Search</button>
        </div>
        <div id="button-div">
            <button class="main-font" id="clear-search">Clear Search</button>
        </div>
    </nav>
</header>
<div id="main-jobs">
    {% for jobs in jobs_dict %}
        <div class="jobs-display" data-id="{{ jobs[0] }}"  data-applied="{{ jobs[4] }}">
        <h1 class="main-font" id="company"> {{ jobs[3] }} </h1>
        <div class="name-div">
            <button type="button" class="cancel-button">
                <svg id="x-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32">
                  <path d="M8.5 8.5 L15.5 15.5 M15.5 8.5 L8.5 15.5" stroke="#EF4444" stroke-width="2" stroke-linecap="round" fill="none"/>
                </svg>
            </button>
            <div class="overlay">
                <div class="confirm">
                    <button type="button" class="cancel-b">
                        <svg id="cancel-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <line x1="4" y1="4" x2="20" y2="20" style="stroke: black; stroke-width: 2; stroke-linecap: round;" />
                            <line x1="20" y1="4" x2="4" y2="20" style="stroke: black; stroke-width: 2; stroke-linecap: round;" />
                        </svg>
                    </button>
                    <p id="confirm-text" class="main-font">Click yes to remove the job</p>
                    <div id="yesno-div">
                        <button type="button" class="yes-no yes">Yes</button>
                        <button type="button" class="yes-no no">No</button>
                    </div>
                </div>
            </div>
            <h2 class="main-font" id="job-name">{{ jobs[1] }}</h2>
            <button type="button" class="tick-box">
                <svg class="tick" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
            </button>
            <a class="main-font apply-button" href="{{ jobs[2] }}" target="_blank">Apply here</a>
        </div>
    </div>
    {% endfor %}
</div>

</body>
<script src= "{{ url_for('static', filename='main.js') }}" ></script>
</html>

